bcrypt==3.1.7
blinker==1.4
cffi==1.14.0
click==7.1.2
cycler==0.10.0
dnspython==1.16.0
email-validator==1.1.1
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-JSGlue==0.3.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
gevent==20.9.0
greenlet==0.4.17
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.0
numpy==1.19.0
pandas==1.0.5
pathlib==1.0.1
Pillow==7.2.0
pkg-resources==0.0.0
psycopg2==2.8.5
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.1
six==1.15.0
SQLAlchemy==1.3.18
sqlitis==0.0.5
sqlparse==0.3.0
tqdm==4.48.2
webrtcvad==2.0.10
Werkzeug==1.0.1
WTForms==2.3.1
zope.event==4.5.0
zope.interface==5.1.2
