{% extends 'base.html' %}

{% block title %}Annotators Progress {% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <center>

                    <p style="margin-top: 20px;">
                        <b>Annotator: </b><code> {{ info.get('ann_info')[1] }} {{ info.get('ann_info')[2] }}</code></p>

                    <div class="col-sm-4">
                        <h4 class="small font-weight-bold"># Files annotated: <code> {{ num_files_annotated }}
                            </code> ,
                            Avg time per task: <code>{{ avg_time_per_task }} s</code></h4>
                        <h4 class="small font-weight-bold">
                            # Previous clicks: <code> {{ n_previous_clicks }}</code> ,
                            # Flagged: <code>{{ n_flagged }}</code>
                            # stay-connected: <code>{{ num_stay_connected }}</code>
                            <br> <br>
                            Time spent on the system:
                            <br>
                            Sum of login-logouts : <code>{{ loginlogouts }}</code>
                            <br>
                            Sum of task-times : <code>{{ task_time }}</code>


                        </h4>

                    </div>

                    <div style="height:25px;"></div>

                    <hr>
                    <form class="form-inline" method="GET" action="/admin/annotators_progress">
                        <div class="input-group" style="margin-left: 2.5em;">
                            <label> <b>Annotator&nbsp;&nbsp;</b>
                                <select class="form-control" name="annotator">
                                    {% for a in annotators %}
                                        {% if a.id|string == info.get('ann_info')[0]|string %}
                                            <option selected
                                                    value='{{ a.id }}'>{{ a.id }}, {{ a.firstname }} {{ a.lastname }}</option>
                                        {% else %}
                                            <option value='{{ a.id }}'>{{ a.id }}, {{ a.firstname }} {{ a.lastname }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="input-group" style="margin-left: 2.5em;">
                            <label> <b>Frequency&nbsp;&nbsp;</b>
                                <select class="form-control" name="freq">
                                    {% for key, value in frequencies.items() %}
                                        {#                                {{ key,  value  }}#}
                                        {% if key ==  freq %}
                                            <option selected value="{{ key }}">{{ value }}</option>
                                        {% else %}
                                            <option value="{{ key }}">{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </label>

                            <label> <b>&nbsp; Annotation type&nbsp;&nbsp;</b>
                                <select class="form-control" name="annotationtype">
                                    {% if annotationtype ==  'cg' %}
                                        <option selected>cg</option>
                                        <option>fg</option>
                                    {% else %}
                                        <option>cg</option>
                                        <option selected>fg</option>
                                    {% endif %}

                                </select>
                            </label>
                        </div>
                        <div class="input-group" style="margin-left: 2.5em;">
                            <label><b> Start </b>
                                <input type="datetime-local" class="form-control" name="start_date"
                                       value="{{ start_date }}">
                            </label>

                            <label><b>&nbsp; End </b>
                                <input type="datetime-local" class="form-control" name="end_date"
                                       value="{{ end_date }}">
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success" style="margin-left: 2.5em;">Go !</button>
                    </form>
                    <hr>
                </center>
                <div>
                    <canvas id="canvas">
                    </canvas>
                </div>

                <br>
                <br>


            </div>
            {#            <img src="/useractivity.png" alt="my plot" style="margin-bottom: 100px">#}

        </div>
        {% block javascript %}
            <!-- Bootstrap core JavaScript-->
            {#  <script src="/static/vendor/jquery/jquery.min.js"></script>#}
            <script src="/static/vendor/bootstrap/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="/static/js/lib/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script src="/static/vendor/chart.js/Chart.min.js"></script>
            <script src="/static/js/src/utils.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
            <script>
                var color = Chart.helpers.color;
                var barChartData = {
                    labels: [{% for x in xticks %}
                        "{{x}}",
                    {% endfor %}],
                    datasets: [{
                        type: 'bar',
                        label: '#Annotation',
                        backgroundColor: color(window.chartColors.green).rgbString(),
                        borderColor: window.chartColors.green,
                        data: [
                            {% for num in num_annotations %}
                                {{num}},
                            {% endfor %}
                        ],
                        yAxisID: 'y-axis-1',	// ajout
                    }
                        , {
                            data: [
                                {% for dur in durations %}
                                    {{dur}},
                                {% endfor %}
                            ],
                            yAxisID: 'y-axis-2',	// ajout
                            label: "Duration",
                            fillColor: "green"
                        }]
                };


                window.onload = function () {
                    var ctx = document.getElementById('canvas').getContext('2d');
                    window.myBar = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            responsive: true,

                            tooltips: {
                                mode: 'index',
                                intersect: false
                            },
                            // ajouter ici
                            scales: {
                                xAxes: [{
                                    display: true,
                                    {#stacked: true,#}
                                    offset: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: '{{ frequencies[freq] }}'
                                    }
                                }],
                                yAxes: [{
                                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                    display: true,
                                    position: 'left',
                                    id: 'y-axis-1',
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Count'
                                    }
                                },
                                    {
                                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                        display: true,
                                        position: 'right',
                                        id: 'y-axis-2',
                                        ticks: {
                                            beginAtZero: true
                                        },
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Duration in seconds'
                                        }
                                    }],
                            }
                            // fin de l'ajout

                        }
                    });
                };
console.log({{ total_num_annotations_check }})
            </script>

            <!-- Page level custom scripts -->
            {#  <script src="/static/js/demo/chart-area-demo.js"></script>#}
            {#  <script src="/static/js/demo/chart-pie-demo.js"></script>#}
            {#    <script src="/static/js/demo/chart-bar-demo.js"></script>#}
        {% endblock %}
{% endblock %}