{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form class="form-signin" action="" method="post">
            <legend class="border-bottom mb-4">Please enter a new password</legend>
            <input type="password" class="form-control" name="pw1" placeholder="Password" required="" autofocus=""
                   value="{{ request.form.pw1 }}"/>
            <br>
            <input type="password" class="form-control" name="pw2" placeholder="Retype Password" required=""
                   value="{{ request.form.pw2 }}"/>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Submit</button>
            {% if error %}
                <label class="error">{{ error }}</label>
            {% endif %}
        </form>
    </div>
{% endblock content %}