{% extends 'base.html' %}

{% block title %} View Patients {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col ">
                <div class="jumbotron p-3">
                    <h2>View <b>Patients </b></h2>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}

                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}

                        {% endif %}
                    {% endwith %}

                    <table id="example" class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start_date</th>
                            <th>End_date</th>
                        </tr>
                        </thead>

                        {% for row in patients %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.start_date }}</td>
                                <td>{{ row.end_date }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
